In [ ]:
import pandas as pd
import numpy as np

## RA_case

In [ ]:
ra_case_person_df = pd.read_csv('ra_case_person_df.csv')
ra_case_person_df.head()

Downloading:   0%|          | 0/3879 [00:00<?, ?rows/s]

,person_id,gender,date_of_birth,race,ethnicity,sex_at_birth
0,1166759,"Not man only, not woman only, prefer not to an...",1976-06-15 00:00:00+00:00,White,Not Hispanic or Latino,I prefer not to answer
1,1757579,PMI: Skip,1951-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept
2,2781795,PMI: Skip,1957-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept
3,2006911,PMI: Skip,1987-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept
4,9915334,PMI: Skip,1954-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept

In [ ]:
ra_case_person_df.shape

(3879, 6)

In [ ]:
ra_case_survey_df = pd.read_csv('ra_case_survey_df.csv')
ra_case_survey_df.head()

Downloading:   0%|          | 0/11637 [00:00<?, ?rows/s]

,person_id,survey_datetime,survey,question_concept_id,question,answer_concept_id,answer
0,1493654,2020-02-14 22:01:05+00:00,Personal and Family Health History,1384479,About how old were you when you were first tol...,903096,PMI: Skip
1,5631051,2021-03-16 12:14:40+00:00,Personal and Family Health History,1384479,About how old were you when you were first tol...,1385101,About how old were you when you were first tol...
2,2797474,2019-05-16 09:24:38+00:00,Personal and Family Health History,1384479,About how old were you when you were first tol...,1385101,About how old were you when you were first tol...
3,1957443,2021-01-13 23:28:40+00:00,Personal and Family Health History,1384479,About how old were you when you were first tol...,1385101,About how old were you when you were first tol...
4,1943091,2020-06-06 21:23:42+00:00,Personal and Family Health History,1384479,About how old were you when you were first tol...,1385101,About how old were you when you were first tol...

In [ ]:
ra_survey_info = ra_case_survey_df.loc[(ra_case_survey_df['question']=='Are you still seeing a doctor or health care provider for rheumatoid arthritis (RA)?')]
ra_survey_info.shape

(3879, 7)

In [ ]:
ra_case = ra_case_person_df.merge(ra_survey_info[['person_id', 'survey_datetime']], on = 'person_id', how = 'inner')
ra_case.head()

,person_id,gender,date_of_birth,race,ethnicity,sex_at_birth,survey_datetime
0,1166759,"Not man only, not woman only, prefer not to an...",1976-06-15 00:00:00+00:00,White,Not Hispanic or Latino,I prefer not to answer,2020-02-25 21:35:29+00:00
1,1757579,PMI: Skip,1951-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2019-10-04 17:01:58+00:00
2,2781795,PMI: Skip,1957-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2019-02-04 17:08:16+00:00
3,2006911,PMI: Skip,1987-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2020-01-16 00:27:43+00:00
4,9915334,PMI: Skip,1954-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2021-12-31 03:58:26+00:00

In [6]:
ra_case.shape

(3879, 7)

In [ ]:
ra_case_condition_df = pd.read_csv('ra_case_condition_df.csv')
ra_case_condition_df.head()

Downloading:   0%|          | 0/58057 [00:00<?, ?rows/s]

,person_id,condition_concept_id,standard_concept_name,standard_concept_code,standard_vocabulary,condition_start_datetime,condition_end_datetime,condition_type_concept_id,condition_type_concept_name
0,3304607,80809,Rheumatoid arthritis,69896004,SNOMED,2009-05-20 13:00:00+00:00,2009-05-20 13:00:00+00:00,38000216,Outpatient detail - 2nd position
1,3304607,80809,Rheumatoid arthritis,69896004,SNOMED,2009-09-23 11:40:00+00:00,2009-09-23 11:40:00+00:00,38000216,Outpatient detail - 2nd position
2,3304607,80809,Rheumatoid arthritis,69896004,SNOMED,2009-02-18 11:40:00+00:00,2009-02-18 11:40:00+00:00,38000216,Outpatient detail - 2nd position
3,3304607,80809,Rheumatoid arthritis,69896004,SNOMED,2008-11-12 11:15:00+00:00,2008-11-12 11:15:00+00:00,38000216,Outpatient detail - 2nd position
4,3304607,80809,Rheumatoid arthritis,69896004,SNOMED,2008-07-11 10:50:00+00:00,2008-07-11 10:50:00+00:00,38000216,Outpatient detail - 2nd position

In [ ]:
ra_case_condition_df.shape

(58057, 9)

In [ ]:
# datetime for 1st code of RA
ra_condition = ra_case_condition_df.loc[ra_case_condition_df.groupby('person_id')['condition_start_datetime'].idxmin()]
person_id_with_ra_code = list(set(ra_case_condition_df['person_id']))
len(person_id_with_ra_code)

1367

In [ ]:
# extract EHR record

ra_case_ehr_code_sql = """
    SELECT
        person_id,
        condition_concept_id,
        condition_start_datetime
    FROM
        `""" + os.environ["WORKSPACE_CDR"] + f""".condition_occurrence` 
    WHERE person_id in {tuple(ra_case['person_id'])}
    """
ra_case_ehr_code = pd.read_gbq(
    ra_case_ehr_code_sql,
    dialect="standard",
    use_bqstorage_api=("BIGQUERY_STORAGE_API_ENABLED" in os.environ),
    progress_bar_type="tqdm_notebook")

ra_case_ehr_code.shape

Downloading:   0%|          | 0/1889273 [00:00<?, ?rows/s]

(1889273, 3)

In [11]:
ra_case_ehr_code.head()

   person_id  condition_concept_id  condition_start_datetime
0    1355513               4012376 2021-09-27 05:00:00+00:00
1    1988336               4043042 2017-12-07 05:00:00+00:00
2    1988336               4043042 2014-03-03 05:00:00+00:00
3    3289867               4012376 2019-04-25 05:00:00+00:00
4    3380701               4012376 2016-04-22 05:00:00+00:00

In [12]:
# last EHR datetime
ra_case_ehr_code = ra_case_ehr_code.loc[ra_case_ehr_code.groupby('person_id')['condition_start_datetime'].idxmax()]
ra_case_ehr_code.shape

(3294, 3)

In [13]:
# merge proxy time data.
ra_case_ehr_code = ra_case_ehr_code[['person_id', 'condition_start_datetime']].merge(ra_condition[['person_id', 'condition_start_datetime']], on='person_id', how='left', suffixes=('_ehr', '_ra'))
ra_case_ehr_code.head()

   person_id condition_start_datetime_ehr condition_start_datetime_ra
0    1000042    2022-06-27 13:30:00+00:00                         NaT
1    1000059    2001-11-07 06:00:00+00:00                         NaT
2    1003242    2022-06-30 00:00:00+00:00                         NaT
3    1004690    2022-06-20 23:08:54+00:00   2018-06-05 02:26:23+00:00
4    1004776    2017-05-18 00:00:00+00:00                         NaT

In [14]:
ra_case_ehr_code['condition_start_datetime'] = ra_case_ehr_code[['condition_start_datetime_ehr', 'condition_start_datetime_ra']].min(axis=1)
ra_case_ehr_code['ra_code_YN'] = ra_case_ehr_code['condition_start_datetime_ra'].notna().astype(int)
ra_case_ehr_code[['person_id', 'condition_start_datetime', 'condition_start_datetime_ehr', 'ra_code_YN']].head()

,person_id,condition_start_datetime,condition_start_datetime_ehr,ra_code_YN
0,1000042,2022-06-27 13:30:00+00:00,2022-06-27 13:30:00+00:00,0
1,1000059,2001-11-07 06:00:00+00:00,2001-11-07 06:00:00+00:00,0
2,1003242,2022-06-30 00:00:00+00:00,2022-06-30 00:00:00+00:00,0
3,1004690,2018-06-05 02:26:23+00:00,2022-06-20 23:08:54+00:00,1
4,1004776,2017-05-18 00:00:00+00:00,2017-05-18 00:00:00+00:00,0

In [15]:
ra_case = ra_case.merge(ra_case_ehr_code[['person_id', 'condition_start_datetime', 'condition_start_datetime_ehr', 'ra_code_YN']], on = 'person_id', how = 'left')
ra_case.shape

(3879, 10)

In [ ]:
# Create ra_survey column (1 if asnwer yes in RA_survey, 0 if answer no, NA if missing)
ra_case['ra_event_survey'] = np.where(ra_case['survey_datetime'].notna(), 1, None)
ra_case.head(20)

,person_id,gender,date_of_birth,race,ethnicity,sex_at_birth,survey_datetime,condition_start_datetime,condition_start_datetime_ehr,ra_code_YN,ra_event_survey
0,1166759,"Not man only, not woman only, prefer not to an...",1976-06-15 00:00:00+00:00,White,Not Hispanic or Latino,I prefer not to answer,2020-02-25 21:35:29+00:00,2021-10-06 00:00:00+00:00,2021-10-06 00:00:00+00:00,0.0,1
1,1757579,PMI: Skip,1951-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2019-10-04 17:01:58+00:00,2021-10-08 00:00:00+00:00,2021-10-08 00:00:00+00:00,0.0,1
2,2781795,PMI: Skip,1957-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2019-02-04 17:08:16+00:00,2022-06-28 05:00:00+00:00,2022-06-28 05:00:00+00:00,0.0,1
3,2006911,PMI: Skip,1987-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2020-01-16 00:27:43+00:00,2021-08-27 00:00:00+00:00,2021-08-27 00:00:00+00:00,0.0,1
4,9915334,PMI: Skip,1954-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2021-12-31 03:58:26+00:00,2022-06-29 13:06:00+00:00,2022-06-29 13:06:00+00:00,0.0,1
5,5082864,PMI: Skip,1990-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2022-02-13 23:56:55+00:00,2022-06-01 01:25:21+00:00,2022-06-01 01:25:21+00:00,0.0,1
6,1867617,PMI: Skip,1988-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2020-06-11 18:57:39+00:00,NaT,NaT,NaN,1
7,9484795,PMI: Skip,1990-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2021-09-22 19:47:57+00:00,2019-06-30 02:54:30+00:00,2021-09-29 01:06:11+00:00,1.0,1
8,1872789,PMI: Skip,1946-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2018-10-21 04:54:49+00:00,2014-01-07 08:00:00+00:00,2022-06-27 13:52:35+00:00,1.0,1
9,2299353,PMI: Skip,1951-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2019-10-29 18:50:06+00:00,2019-06-11 06:00:00+00:00,2019-06-11 06:00:00+00:00,0.0,1
10,1045166,PMI: Skip,1972-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2020-06-14 07:14:26+00:00,NaT,NaT,NaN,1
11,2985979,PMI: Skip,1958-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2019-02-21 22:33:39+00:00,2022-06-15 06:00:00+00:00,2022-06-15 06:00:00+00:00,0.0,1
12,2475724,PMI: Skip,1948-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2018-10-23 23:35:05+00:00,2006-08-07 00:00:00+00:00,2022-06-07 16:35:00+00:00,1.0,1
13,5949890,PMI: Skip,1968-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2021-02-10 16:23:46+00:00,2018-12-18 00:02:23+00:00,2022-05-23 04:01:29+00:00,1.0,1
14,2324208,PMI: Skip,1959-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2018-12-13 17:59:06+00:00,2008-11-03 06:00:00+00:00,2022-05-12 06:00:00+00:00,1.0,1
15,1490880,PMI: Skip,1947-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2019-01-15 20:50:15+00:00,2006-09-20 00:00:00+00:00,2018-07-18 00:00:00+00:00,1.0,1
16,3300215,PMI: Skip,1944-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2018-12-06 22:12:14+00:00,2014-03-14 19:41:00+00:00,2022-02-09 00:08:29+00:00,1.0,1
17,4968881,PMI: Skip,1961-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2021-08-28 05:26:48+00:00,2013-04-04 19:38:00+00:00,2022-02-21 05:00:00+00:00,1.0,1
18,9014818,PMI: Skip,1959-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2022-02-15 20:18:38+00:00,2022-06-10 00:00:00+00:00,2022-06-10 00:00:00+00:00,0.0,1
19,9264294,PMI: Skip,1952-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2022-04-20 15:41:29+00:00,2014-06-12 13:00:00+00:00,2022-05-03 12:00:00+00:00,1.0,1

In [17]:
ra_case['ra_code_YN'].value_counts()

ra_code_YN
0.0    1927
1.0    1367
Name: count, dtype: int64

In [18]:
ra_case['ra_event_survey'].value_counts()

ra_event_survey
1    3879
Name: count, dtype: int64

## Control

In [ ]:
ra_control_person_df = pd.read_csv('ra_control_person_df.csv')
ra_control_person_df.head()

Downloading:   0%|          | 0/14943 [00:00<?, ?rows/s]

,person_id,gender,date_of_birth,race,ethnicity,sex_at_birth
0,2449537,"Not man only, not woman only, prefer not to an...",1989-06-15 00:00:00+00:00,I prefer not to answer,PMI: Prefer Not To Answer,I prefer not to answer
1,1974647,I prefer not to answer,1979-06-15 00:00:00+00:00,I prefer not to answer,PMI: Prefer Not To Answer,I prefer not to answer
2,1816269,I prefer not to answer,1979-06-15 00:00:00+00:00,I prefer not to answer,PMI: Prefer Not To Answer,I prefer not to answer
3,2144582,I prefer not to answer,1989-06-15 00:00:00+00:00,I prefer not to answer,PMI: Prefer Not To Answer,I prefer not to answer
4,1133863,I prefer not to answer,1979-06-15 00:00:00+00:00,I prefer not to answer,PMI: Prefer Not To Answer,I prefer not to answer

In [ ]:
ra_control_person_df.shape

(14943, 6)

In [ ]:
ra_control_id = ra_control_person_df['person_id']

In [ ]:
ra_control_by_survey_survey_df = pd.read_csv('ra_control_by_survey_survey_df.csv')
ra_control_by_survey_survey_df.head()

Downloading:   0%|          | 0/4583 [00:00<?, ?rows/s]

,person_id,survey_datetime,survey,question_concept_id,question,answer_concept_id,answer
0,1093026,2018-08-14 02:15:49+00:00,Personal and Family Health History,836820,"Including yourself, who in your family has had...",903096,PMI: Skip
1,1758686,2019-12-04 22:27:09+00:00,Personal and Family Health History,836820,"Including yourself, who in your family has had...",903096,PMI: Skip
2,3443677,2019-05-11 22:52:37+00:00,Personal and Family Health History,836820,"Including yourself, who in your family has had...",903096,PMI: Skip
3,1069133,2019-05-03 20:06:42+00:00,Personal and Family Health History,836820,"Including yourself, who in your family has had...",903096,PMI: Skip
4,1890898,2019-10-21 19:30:29+00:00,Personal and Family Health History,836820,"Including yourself, who in your family has had...",903096,PMI: Skip

In [ ]:
ra_control_by_survey_survey_df.shape

(4583, 7)

In [ ]:
# a participant may provide multiple answers at the same datetime.
ra_control_by_survey_survey_df = ra_control_by_survey_survey_df.drop_duplicates(subset='person_id', keep='first')
ra_control_by_survey_survey_df.shape

(4419, 7)

In [ ]:
ra_control_by_survey_survey_df['answer'].value_counts()

answer
PMI: Skip                                                                                  3590
Including yourself, who in your family has had rheumatoid arthritis (RA)? - Mother          301
Including yourself, who in your family has had rheumatoid arthritis (RA)? - Grandparent     292
Including yourself, who in your family has had rheumatoid arthritis (RA)? - Father          114
Including yourself, who in your family has had rheumatoid arthritis (RA)? - Sibling         101
Including yourself, who in your family has had rheumatoid arthritis (RA)? - Daughter         14
Including yourself, who in your family has had rheumatoid arthritis (RA)? - Son               7
Name: count, dtype: int64

In [ ]:
# person with datetime answered "No" in RA survey, with NaT datetime didn't take the survey.
ra_control_person_df = ra_control_person_df.merge(ra_control_by_survey_survey_df[["person_id", "survey_datetime"]], how = "left")

In [ ]:
ra_control_person_df.head()

,person_id,gender,date_of_birth,race,ethnicity,sex_at_birth,survey_datetime
0,2449537,"Not man only, not woman only, prefer not to an...",1989-06-15 00:00:00+00:00,I prefer not to answer,PMI: Prefer Not To Answer,I prefer not to answer,NaT
1,1974647,I prefer not to answer,1979-06-15 00:00:00+00:00,I prefer not to answer,PMI: Prefer Not To Answer,I prefer not to answer,NaT
2,1816269,I prefer not to answer,1979-06-15 00:00:00+00:00,I prefer not to answer,PMI: Prefer Not To Answer,I prefer not to answer,NaT
3,2144582,I prefer not to answer,1989-06-15 00:00:00+00:00,I prefer not to answer,PMI: Prefer Not To Answer,I prefer not to answer,NaT
4,1133863,I prefer not to answer,1979-06-15 00:00:00+00:00,I prefer not to answer,PMI: Prefer Not To Answer,I prefer not to answer,NaT

In [28]:
import pandas as pd
ra_control_ehr_code_sql = """
    SELECT
        person_id,
        condition_concept_id,
        condition_start_datetime
    FROM
        `""" + os.environ["WORKSPACE_CDR"] + f""".condition_occurrence` 
    WHERE person_id in {tuple(ra_control_id)}
    """
ra_control_ehr_code = pd.read_gbq(
    ra_control_ehr_code_sql,
    dialect="standard",
    use_bqstorage_api=("BIGQUERY_STORAGE_API_ENABLED" in os.environ),
    progress_bar_type="tqdm_notebook")

ra_control_ehr_code.shape

Downloading:   0%|          | 0/1027953 [00:00<?, ?rows/s]

(1027953, 3)

In [29]:
# last ehr record
ra_control_ehr_code = ra_control_ehr_code.loc[ra_control_ehr_code.groupby('person_id')['condition_start_datetime'].idxmax()]
ra_control_ehr_code.shape

(8545, 3)

In [30]:
ra_control_ehr_code.head()

        person_id  condition_concept_id  condition_start_datetime
73308     1000292               4285898 2022-06-29 05:00:00+00:00
169229    1000452                140641 2020-06-02 00:00:00+00:00
133340    1000471                197236 2022-06-06 00:00:00+00:00
178816    1000671                 24818 2022-03-24 12:45:00+00:00
18767     1000955                762297 2022-04-25 00:00:00+00:00

In [ ]:
# in control X is equivalent to last EHR follow-up time
ra_control = ra_control_person_df.merge(ra_control_ehr_code[['person_id', 'condition_start_datetime']], how = 'left')
ra_control.head()

,person_id,gender,date_of_birth,race,ethnicity,sex_at_birth,survey_datetime,condition_start_datetime
0,2449537,"Not man only, not woman only, prefer not to an...",1989-06-15 00:00:00+00:00,I prefer not to answer,PMI: Prefer Not To Answer,I prefer not to answer,NaT,2022-06-28 00:00:00+00:00
1,1974647,I prefer not to answer,1979-06-15 00:00:00+00:00,I prefer not to answer,PMI: Prefer Not To Answer,I prefer not to answer,NaT,2019-12-06 11:29:00+00:00
2,1816269,I prefer not to answer,1979-06-15 00:00:00+00:00,I prefer not to answer,PMI: Prefer Not To Answer,I prefer not to answer,NaT,2020-11-07 05:00:00+00:00
3,2144582,I prefer not to answer,1989-06-15 00:00:00+00:00,I prefer not to answer,PMI: Prefer Not To Answer,I prefer not to answer,NaT,NaT
4,1133863,I prefer not to answer,1979-06-15 00:00:00+00:00,I prefer not to answer,PMI: Prefer Not To Answer,I prefer not to answer,NaT,NaT

In [32]:
import numpy as np
ra_control['condition_start_datetime_ehr'] = ra_control['condition_start_datetime']
ra_control['ra_code_YN'] = np.where(ra_control['condition_start_datetime'].notna(), 0, None)
ra_control['ra_event_survey'] = np.where(ra_control['survey_datetime'].notna(), 0, None)

In [33]:
ra_control.shape

(14943, 11)

In [35]:
ra_control.head(20)

,person_id,gender,date_of_birth,race,ethnicity,sex_at_birth,survey_datetime,condition_start_datetime,condition_start_datetime_ehr,ra_code_YN,ra_event_survey
0,2449537,"Not man only, not woman only, prefer not to an...",1989-06-15 00:00:00+00:00,I prefer not to answer,PMI: Prefer Not To Answer,I prefer not to answer,NaT,2022-06-28 00:00:00+00:00,2022-06-28 00:00:00+00:00,0,None
1,1974647,I prefer not to answer,1979-06-15 00:00:00+00:00,I prefer not to answer,PMI: Prefer Not To Answer,I prefer not to answer,NaT,2019-12-06 11:29:00+00:00,2019-12-06 11:29:00+00:00,0,None
2,1816269,I prefer not to answer,1979-06-15 00:00:00+00:00,I prefer not to answer,PMI: Prefer Not To Answer,I prefer not to answer,NaT,2020-11-07 05:00:00+00:00,2020-11-07 05:00:00+00:00,0,None
3,2144582,I prefer not to answer,1989-06-15 00:00:00+00:00,I prefer not to answer,PMI: Prefer Not To Answer,I prefer not to answer,NaT,NaT,NaT,None,None
4,1133863,I prefer not to answer,1979-06-15 00:00:00+00:00,I prefer not to answer,PMI: Prefer Not To Answer,I prefer not to answer,NaT,NaT,NaT,None,None
5,2192357,Gender Identity: Transgender,1979-06-15 00:00:00+00:00,None Indicated,Hispanic or Latino,I prefer not to answer,NaT,2022-01-03 18:06:00+00:00,2022-01-03 18:06:00+00:00,0,None
6,3204700,Male,1999-06-15 00:00:00+00:00,None Indicated,Hispanic or Latino,I prefer not to answer,NaT,2022-06-23 21:53:42+00:00,2022-06-23 21:53:42+00:00,0,None
7,1746309,I prefer not to answer,1969-06-15 00:00:00+00:00,Black or African American,Not Hispanic or Latino,I prefer not to answer,NaT,NaT,NaT,None,None
8,2969002,Gender Identity: Non Binary,1989-06-15 00:00:00+00:00,Black or African American,Not Hispanic or Latino,I prefer not to answer,NaT,NaT,NaT,None,None
9,2057308,Male,1989-06-15 00:00:00+00:00,Black or African American,Not Hispanic or Latino,I prefer not to answer,NaT,2017-08-23 22:27:00.448000+00:00,2017-08-23 22:27:00.448000+00:00,0,None
10,1245519,Male,1979-06-15 00:00:00+00:00,Black or African American,Not Hispanic or Latino,I prefer not to answer,NaT,NaT,NaT,None,None
11,1659969,Female,1979-06-15 00:00:00+00:00,Black or African American,Not Hispanic or Latino,I prefer not to answer,NaT,NaT,NaT,None,None
12,1515620,Female,1959-06-15 00:00:00+00:00,Black or African American,Not Hispanic or Latino,I prefer not to answer,NaT,2019-09-06 00:00:00+00:00,2019-09-06 00:00:00+00:00,0,None
13,1390813,Female,1969-06-15 00:00:00+00:00,Black or African American,Not Hispanic or Latino,I prefer not to answer,NaT,2022-03-07 00:00:00+00:00,2022-03-07 00:00:00+00:00,0,None
14,1557911,I prefer not to answer,1979-06-15 00:00:00+00:00,I prefer not to answer,PMI: Prefer Not To Answer,Intersex,NaT,2019-02-12 09:07:00+00:00,2019-02-12 09:07:00+00:00,0,None
15,1904084,Female,1969-06-15 00:00:00+00:00,Black or African American,Not Hispanic or Latino,Intersex,NaT,NaT,NaT,None,None
16,2920606,Female,1949-06-15 00:00:00+00:00,White,Not Hispanic or Latino,Intersex,NaT,NaT,NaT,None,None
17,9251240,I prefer not to answer,1979-06-15 00:00:00+00:00,I prefer not to answer,PMI: Prefer Not To Answer,None,NaT,2022-04-11 15:00:00+00:00,2022-04-11 15:00:00+00:00,0,None
18,1390953,Male,1979-06-15 00:00:00+00:00,None of these,What Race Ethnicity: Race Ethnicity None Of These,None,NaT,NaT,NaT,None,None
19,5342592,I prefer not to answer,1979-06-15 00:00:00+00:00,None Indicated,Hispanic or Latino,None,2021-01-24 18:27:12+00:00,2021-09-20 00:00:00+00:00,2021-09-20 00:00:00+00:00,0,0

In [36]:
ra_case.head()

,person_id,gender,date_of_birth,race,ethnicity,sex_at_birth,survey_datetime,condition_start_datetime,condition_start_datetime_ehr,ra_code_YN,ra_event_survey
0,1166759,"Not man only, not woman only, prefer not to an...",1976-06-15 00:00:00+00:00,White,Not Hispanic or Latino,I prefer not to answer,2020-02-25 21:35:29+00:00,2021-10-06 00:00:00+00:00,2021-10-06 00:00:00+00:00,0.0,1
1,1757579,PMI: Skip,1951-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2019-10-04 17:01:58+00:00,2021-10-08 00:00:00+00:00,2021-10-08 00:00:00+00:00,0.0,1
2,2781795,PMI: Skip,1957-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2019-02-04 17:08:16+00:00,2022-06-28 05:00:00+00:00,2022-06-28 05:00:00+00:00,0.0,1
3,2006911,PMI: Skip,1987-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2020-01-16 00:27:43+00:00,2021-08-27 00:00:00+00:00,2021-08-27 00:00:00+00:00,0.0,1
4,9915334,PMI: Skip,1954-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2021-12-31 03:58:26+00:00,2022-06-29 13:06:00+00:00,2022-06-29 13:06:00+00:00,0.0,1

In [37]:
ra_df = pd.concat([ra_case, ra_control])

In [38]:
ra_df.shape

(18822, 11)

In [39]:
# Compute follow-up time (C)
ra_df['age_at_survey_event'] = ra_df.apply(
    lambda row: ((row['survey_datetime'] - row['date_of_birth']).days // 365) if pd.notna(row['survey_datetime']) else None, 
    axis=1
)

# Compute age at condition start time (X)
ra_df['age_at_condition_event'] = ra_df.apply(
    lambda row: ((row['condition_start_datetime'] - row['date_of_birth']).days // 365) if pd.notna(row['condition_start_datetime']) else None, 
    axis=1
)

# Compute last ehr follow-up time
ra_df['age_at_last_ehr'] = ra_df.apply(
    lambda row: ((row['condition_start_datetime_ehr'] - row['date_of_birth']).days // 365) if pd.notna(row['condition_start_datetime_ehr']) else None, 
    axis=1
)

In [40]:
ra_df.head()

,person_id,gender,date_of_birth,race,ethnicity,sex_at_birth,survey_datetime,condition_start_datetime,condition_start_datetime_ehr,ra_code_YN,ra_event_survey,age_at_survey_event,age_at_condition_event,age_at_last_ehr
0,1166759,"Not man only, not woman only, prefer not to an...",1976-06-15 00:00:00+00:00,White,Not Hispanic or Latino,I prefer not to answer,2020-02-25 21:35:29+00:00,2021-10-06 00:00:00+00:00,2021-10-06 00:00:00+00:00,0.0,1,43.0,45.0,45.0
1,1757579,PMI: Skip,1951-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2019-10-04 17:01:58+00:00,2021-10-08 00:00:00+00:00,2021-10-08 00:00:00+00:00,0.0,1,68.0,70.0,70.0
2,2781795,PMI: Skip,1957-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2019-02-04 17:08:16+00:00,2022-06-28 05:00:00+00:00,2022-06-28 05:00:00+00:00,0.0,1,61.0,65.0,65.0
3,2006911,PMI: Skip,1987-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2020-01-16 00:27:43+00:00,2021-08-27 00:00:00+00:00,2021-08-27 00:00:00+00:00,0.0,1,32.0,34.0,34.0
4,9915334,PMI: Skip,1954-06-15 00:00:00+00:00,PMI: Skip,PMI: Skip,No matching concept,2021-12-31 03:58:26+00:00,2022-06-29 13:06:00+00:00,2022-06-29 13:06:00+00:00,0.0,1,67.0,68.0,68.0

In [41]:
ra_df.shape

(18822, 14)

In [42]:
ra_df.to_csv("ra_demo_survey_code.csv", index=False)